* {
    font-family: 'Source Sans Pro';
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 350px;
}

p {
    font-size: 16;
    text-align: justify;
}

a {
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fef9e7 ;
}

#navbar {
    background-color: #17202a ;
    color: white;
    margin: auto;
    width: auto;
    padding: 0.4em 0;
    text-align: center;
}

#navbar nav {
    display: flex;
    justify-content: space-around;
}

header {
    text-align: center;
    font-family: 'IBM Plex Serif';
    font-size: 18;
    font-weight: bold;
}

.code-block {
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #17202a ;
    color: white;
    min-width: 350px;
    max-width: 50%;
}

code {
    font-size: 16;
    font-weight: bold;
    font-family: 'IBM Plex Sans';
    white-space: pre-wrap;
}

.github {
    text-align: right;
}

.invitation {
    color: green;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color:  #17202a ;
    color: white;
    margin: auto;
    padding: 0.4em 0;
    width: auto;
    min-width: 350px;
}

.keyword {
    color:#a569bd;
}