body {
    background-color:#f2f4f4;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    color: black;
}

div.main-content {
    display: grid;
    grid-template-columns: minmax(300px, auto) 1fr;
    grid-template-areas: "navbar mainContent";
    grid-gap: 5px; /* distance between cells of grid */
}

nav#navbar {
    margin: 10px 10px;
    grid-area: navbar;
    position: fixed;
}

nav#navbar header {
    margin-left: 15%;
}

nav#navbar a.nav-link {
    background-color:  #e5e8e8;
    display: block;
    border: 2px dashed black;
    padding: 5px 10px;
    margin: 10px 0;
    text-decoration: none;
    color:#17202a;
}

main#main-doc {
    margin: 10px 10px;
    grid-area: mainContent;
}

span.comment {
    color: #566573;
}

span.keyword {
    font-weight: bold;
}

@media screen and (min-width: 750px) {
    main#main-doc {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

header {
    font-size: 1.2em;
    font-weight: bold;
}

code {
    display: block;
    padding: 10px;
    font-weight: bold;
}

code.good-practice {
    background-color: #58d68d;
}

code.bad-practice {
    background-color: #e74c3c;
}

div.git-link {
    font-weight: bold;
    margin: 10px 0;
}

div.git-link a {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 1000px) {
    div.main-content {
        grid-template-columns: 1fr;
        grid-template-areas: "navbar" "mainContent";
    }

    nav#navbar {
        position: inherit;
    }

    nav#navbar header {
        margin-left: 5%;
    }
}